<!-- To render this partial, add the following line inside a form_for block:
= render 'shared/error_messages', object: f.object -->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
